<div id="ratings-container" class="row">
    <div class="col-sm-3">
        <div class="row">
            <label for="procedures-performed">Procedimentos Realizados</label>
            <div class="profile-info-value" id="procedures-performed">4</div>
        </div>
        <div class="row">
            <label for="evaluated-procedures">Procedimentos Avaliados</label>
            <div class="profile-info-value" id="evaluated-procedures">5</div>
        </div>
    </div>
</div>
<div id="pie-charts-container" class="row">
        
</div>
<div class="row">
    <div class="col">
        <label for="cordiality">Cordialidade</label>
        <div class="profile-info-value" id="cordiality">1</div>
    </div>
    <div class="col">
        <label for="evaluated-procedures">Seila</label>
        <div class="profile-info-value" id="evaluated-procedures">5</div>
    </div><div class="col">
        <label for="evaluated-procedures">Não sei tbm</label>
        <div class="profile-info-value" id="evaluated-procedures">5</div>
    </div>
    <div class="col">
        <label for="evaluated-procedures">Alguma outra info</label>
        <div class="profile-info-value" id="evaluated-procedures">5</div>
    </div>

</div>
    

