<div id="ratings-container" class="row">
    <div class="col-sm-3 text-values-container">
        <div class="col">
            <div class="profile-info-value" id="procedures-performed">1056</div>
            <label for="procedures-performed">Procedimentos Realizados</label>
        </div>
        <div class="col">
            <div class="profile-info-value" id="evaluated-procedures">34%</div>
            <label for="evaluated-procedures">Procedimentos Avaliados</label>
        </div>
    </div>
</div>
<div id="pie-charts-container" class="row ">
        
</div>

    

