<div class="row">
    <div class="col-lg-6">
        <div class="row">
            <div class="col">
                <label for="cordiality">Cordialidade</label>
                <div class="profile-info-value" id="cordiality">1</div>
            </div>
            <div class="col">
                <label for="post-operatory-rating">Nota média pós operatório</label>
                <div class="profile-info-value" id="post-operatory-rating">2</div>
            </div>
            <div class="col">
                <label for="pre-operatory-rating">Nota média pré operatório</label>
                <div class="profile-info-value" id="pre-operatory-rating">3</div>
            </div>
            <div class="col">
                <label for="procedures-performed">Procedimentos Realizados</label>
                <div class="profile-info-value" id="procedures-performed">4</div>
            </div>
            <div class="col">
                <label for="evaluated-procedures">Procedimentos Avaliados</label>
                <div class="profile-info-value" id="evaluated-procedures">5</div>
            </div>
        </div>
    </div>
    <div id="charts-col" class="col-lg-6">
        
    </div>
</div>
