<div class="content-block profile-basic-info">
    <div class="container">

      <div id="profile-name"></div>
      
      <div class="row">
        <div class="col-sm-3">
          <div class="col">
            <div class="profile-info-value" id="profile-specialty"></div>
            <label for="profile-specialty">Especialidade</label>
          </div>
          <div class="col">
            <div class="profile-info-value" id="profile-birth"></div>
            <label for="profile-birth">Ano de nascimento</label>
          </div>
          <div class="col">
            <div class="profile-info-value" id="profile-inscription-date"></div>
            <label for="profile-inscription-date">Data de inscrição CRM</label>
          </div>
        </div>
        <div class="col-sm-2" >
        </div>
        <div class="col" >
          <div class="row" id="crm-container">

          </div>
        </div>
      </div>
    </div>
    <div class="container text-center specialty-info" id="specialty-info">
    </div>
</div>