<div class="content-block profile-basic-info">
    <div class="container ">

      <div id="profile-name"></div>
      
      <div class="row">
        <div class="col-sm-4">
          <div class="row">
            <div class="profile-info-value" id="profile-specialty"></div>
            <label for="profile-specialty">Especialidade</label>
          </div>
          <div class="row">
            <div class="profile-info-value" id="profile-birth"></div>
            <label for="profile-birth">Ano de nascimento</label>
          </div>
        </div>
        <div class="col">
          <div class="col">
            <div class="profile-info-value" id="profile-crm"></div>
            <label for="profile-crm">CRM</label>
          </div>
          <div class="col">
            <div class="profile-info-value" id="profile-state"></div>
            <label for="profile-state">Estado</label>
          </div>
        </div>
      </div>
    </div>
    <div class="container text-center specialty-info" id="specialty-info">
    </div>
</div>