<form id="anesthesia-form" class="content-block">
    <h1 class="title">Formulário</h1>
    <input id="id" autocomplete="off" hidden readonly class="form-control" name="id" type="text">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <div class="label-container">
                    <label for="initials">Iniciais</label>
                </div>
                <input id="initials" autocomplete="off" readonly class="form-control" name="initials" type="text">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <div class="label-container">
                    <label for="ocurred_at">Data</label>
                </div>
                <input id="ocurred_at" autocomplete="off" readonly class="form-control" name="ocurred_at" type="date">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <div class="label-container">
                    <label for="hospital">Hospital</label>
                </div>
                <input id="hospital" autocomplete="off" readonly class="form-control" name="hospital" type="text">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <div class="label-container">
                    <label for="detail">Detalhes</label>
                </div>
                <input id="detail" autocomplete="off" readonly class="form-control" name="detail" type="text">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="label-container">
            <label for="diagnosis">Período</label>
        </div>
        <div id="period">
            <input type="radio" name="period" value="madrugada"> Madrugada (00:00 às 06:00)<br>
            <input type="radio" name="period" value="manha"> Manhã (06:00 às 12:00)<br>
            <input type="radio" name="period" value="tarde"> Tarde (12:00 às 18:00)<br>
            <input type="radio" name="period" value="noite"> Noite (18:00 às 00:00)<br>
        </div>
    </div>
    <div class="form-group">
        <div class="label-container">
            <label for="size">Porte Cirúrgico</label>
        </div>
        <div id="size">
            <input type="radio" name="size" value="pequeno"> Pequeno<br>
            <input type="radio" name="size" value="medio"> Médio<br>
            <input type="radio" name="size" value="grande"> Grande<br>
        </div>
    </div>
    <div class="form-group">
        <div class="label-container">
            <label for="surgery">Cirurgia Realizada</label>
        </div>
        <input id="surgery" autocomplete="off" autofocus class="form-control" name="surgery" type="text">
    </div>
    
    <div class="form-group">
        <div class="label-container">
            <label for="anesthesia">Anestesia Realizada</label>
        </div>
        <div id="anesthesia">
            <input type="checkbox" value="geral"> Anestesia Geral<br>
            <input type="checkbox" value="peridural"> Peridural<br>
            <input type="checkbox" value="sedação"> Sedação<br>
            <input type="checkbox" value="raquianestesia"> Raquianestesia<br>
            <input type="checkbox" value="bloqueio_periférico"> Bloqueio Periférico<br>
            <input type="checkbox" value="outra"> Outro<br>
        </div>
    </div>
    <div class="form-group">
        <div class="label-container">
            <label for="duration">Duração da Anestesia (min)</label>
            <small class="form-text text-muted">Duração da Anestesia em minutos</small>
        </div>
        <input id="duration" placeholder="minutos" autocomplete="off" autofocus class="form-control" name="duration" type="number"
            step="1"><br>
    </div>
    <div class="form-group">
        <div class="label-container">
            <label for="additional_info">Informações adicionais</label>
            <small class="form-text text-muted">Descrever intercorrências ou informações não contempladas nos
                campos anteriores</small>
        </div>
        <input id="additional_info" autocomplete="off" autofocus class="form-control" name="additional_info"
            value="Nenhuma" type="text"><br>
    </div>
    <div class="button-container">
        <button id="request" class="btn btn-primary" type="button"
            onclick="postSpecificForm(document.getElementById('anesthesia-form'));">Enviar</button>
    </div>
</form>
