<form id="anesthesia-form" class="content-block">
    <div class="form-group">
        <div class="label-container">
            <label for="diagnosis">Diagnóstico</label>
        </div>
        <input id="diagnosis" autocomplete="off" autofocus class="form-control" name="diagnosis" type="text">
    </div>
    <div class="form-group">
        <div class="label-container">
            <label for="comorbidities">Comorbidades</label>
        </div>
        <input id="comorbidities" autocomplete="off" autofocus class="form-control" name="comorbidities"
            type="text">
    </div>
    <div class="form-group">
        <div class="label-container">
            <label for="anesthesia">Anestesia Realizada</label>
        </div>
        <div id="anesthesia">
            <input type="checkbox" value="geral"> Anestesia Geral<br>
            <input type="checkbox" value="peridural"> Peridural<br>
            <input type="checkbox" value="sedação"> Sedação<br>
            <input type="checkbox" value="outra"> outro<br>
        </div>
    </div>
    <div class="form-group">
        <div class="label-container">
            <label for="duration">Duração da Anestesia</label>
            <small class="form-text text-muted">Duração da Anestesia em minutos</small>
        </div>
        <input id="duration" autocomplete="off" autofocus class="form-control" name="duration" type="number"
            step="1"><br>
    </div>
    <div class="form-group">
        <div class="label-container">
            <label for="blockade_info">Informações do Bloqueio</label>
            <small class="form-text text-muted">Nível, posicionamento do cateter, fármacos utilizados, repiques
                e horários</small>
        </div>
        <input id="blockade_info" autocomplete="off" autofocus class="form-control" name="blockade_info"
            type="text"><br>
    </div>
    <div class="form-group">
        <div class="label-container">
            <label for="intraoperative">Dados intra-operatórios</label>
            <small class="form-text text-muted">Volume de cristalóides, diurese, sangramento, transfusões
                realizadas</small>
        </div>
        <input id="intraoperative" autocomplete="off" autofocus class="form-control" name="intraoperative"
            type="text"><br>
    </div>
    <div class="form-group">
        <div class="label-container">
            <label for="additional_info">Informações adicionais</label>
            <small class="form-text text-muted">Descrever intercorrências ou informações não contempladas nos
                campos anteriores</small>
        </div>
        <input id="additional_info" autocomplete="off" autofocus class="form-control" name="additional_info"
            value="Nenhuma" type="text"><br>
    </div>
    <div class="button-container">
        <button id="request" class="btn btn-primary" type="button"
            onclick="postSpecificForm(document.getElementById('anesthesia-form'));">SEND</button>
    </div>
</form>
