{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>Stock</th>
                <th>Operation</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total value</th>
                <th>Date/Time</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop through the database entries to display them in this table -->
            {% for t in transactions %}
                <tr>
                    <td>{{ t.stock_symbol }}</td>
                    <td>
                        {% if t.quantity > 0 %}
                            <div class="buyoperation">Buy</div>
                        {% else %}
                            <div class="selloperation">Sell</div>
                        {% endif %}
                    </td>

                    <td>{{ t.quantity|abs }}</td>
                    <td>{{ t.price }}</td>
                    <td>{{ (t.quantity*t.price)|abs }}</td>
                    <td>{{ t.created_at }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}