<div class="row">
    <div class="col form-group">
        <div class="label-container">
            <label for="new-procedure-initials">Iniciais</label>
        </div>
        <input autocomplete="off" readonly class="form-control" name="initials" type="text" value="">
    </div>
    <div class="col form-group">
        <div class="label-container">
            <label for="new-procedure-hospital">Hospital</label>
        </div>
        <input autocomplete="off" readonly class="form-control" name="hospital" type="text" value="">
    </div>
    <div class="col form-group">
        <div class="label-container">
            <label for="new-procedure-date">Data</label>
        </div>
        <input autocomplete="off" readonly class="form-control" name="ocurred_at" type="date" value="">
    </div>
    <div class="col form-group">
        <div class="label-container">
            <label for="new-procedure-detail">Detalhes</label>
        </div>
        <input autocomplete="off" readonly class="form-control" name="detail" type="text">
    </div>
    <div class=" col button-container">
        <button id="request" class="btn btn-primary" type="button"
            onclick="selectProcedure(document.getElementById());">Selecionar Procedimento</button>
    </div>
</div>
