.profile-section {
    font-weight: bold;
    font-size: xx-large;
}

.profile-basic-info label {
    margin: auto;
    margin-bottom: 1rem;
    color: #888;
}

.profile-info-value {
    font-size: 1rem;
    font-weight: bold;
    margin: auto;
    border-bottom: solid 1px #bbb;
}

.text-values-container {
    margin: auto;
}

.chart {
    margin-top: 1rem;
    margin-bottom: 2rem;
    min-width: 200px;
}

.radar {
    margin-top: 1rem;
    margin-bottom: 2rem;
    min-width: 200px;
}

.crm-div {
    min-width: 33%;
}