/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

input {
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

button {
    margin-left: 1rem;
    margin-right: 1rem;
}

h3, h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    background-color: #d9edff;
}

header {
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

table {
    background-color: transparent;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

table th,
table td {
    padding: 0.75rem;
    vertical-align: middle;
}

tbody tr:nth-of-type(odd) {
    background-color: rgb(179, 208, 255, 0.3)
}
