/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

.nav-logout {
    border-radius: .5rem;
    align-items: center;
    background-color: #ea433b;
    padding: .3rem;
    font-weight: bold;
}

.form-slim {
    max-width: 30rem;
    min-width: 10rem;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.nav-button {
    margin-inline: 1rem;
    font-weight: bold;
}

.navbar-index {
    display: flex;
    margin: auto;
    justify-content: center;
}

.explanation-temp-text {
    margin: 3rem;
    color: grey;
}

body {
    background-color: #6b96bb;
}

h3, h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
}

header {
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

table {
    background-color: transparent;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

table th,
table td {
    padding: 0.75rem;
    vertical-align: middle;
}

tbody tr:nth-of-type(odd) {
    background-color: rgb(179, 208, 255, 0.3)
}

.form-class {
    width: 70%;
    margin: auto;
    margin-bottom: 3rem;
    background-color: whitesmoke;
    padding: 1rem;  
    border-radius: 1rem;
}

label {
    margin-right: 1rem;
    align-items: end;
}

.label-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
}