{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <p style="color: red">{{ message }}</p>
    <form action="/buy" method="post">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Stock symbol" type="text">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares" placeholder="Shares" type="text">
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}
