
<nav class="bg-light border navbar navbar-expand-md navbar-light">
    <div class="container-fluid navbar-spaced">
        <a class="navbar-brand" href="/">DocStack</a>
        <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto mt-2">
                <li class="nav-item nav-button"><a href="/form.html" class="nav-link">Form</a></li>
                <li class="nav-item nav-button"><a href="/procedure.html" class="nav-link">Procedimento</a></li>
                <li class="nav-item nav-button"><a href="/profile.html" class="nav-link">Profile</a></li>
            </ul>
            <ul class="navbar-nav ms-auto mt-2">
                <li class="nav-item nav-logout"><a href="https://main.d3koga650buw25.amplifyapp.com/" class="nav-link">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
