{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <header>
        <h4>
            Balance: {{ balance|usd }}
        </h4>
        <h4>
            Stock's total: {{ stockstotal|usd }}
        </h4>
    </header>
    <table>
        <thead>
            <tr>
                <th>Stock</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total value</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop through the database entries to display them in this table -->
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.quantity }}</td>
                    <td>{{ stock.price|usd }}</td>
                    <td>{{ stock.total_value|usd }}</td>
                    <td>
                        <form action="/operation" method="post" class="operations">
                            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares" placeholder="Shares" type="number">
                            <input autocomplete="off" type="hidden" name="symbol" value={{ stock.symbol }}>
                            <button class="buyoperation" name="operation" type="submit" value="buy">Buy</button>
                            <button class="selloperation" name="operation" type="submit" value="sell">Sell</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}