<div class="content-block profile-info">
    <div class="container text-center">
        <div class="row">
          <div class="col">
            <label for="profile-name">Nome</label>
            <div class="profile-info-value" id="profile-name"></div>
          </div>
          <div class="col">
            <label for="profile-specialty">Especialidade</label>
            <div class="profile-info-value" id="profile-specialty"></div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="profile-crm">CRM</label>
            <div class="profile-info-value" id="profile-crm"></div>
          </div>
          <div class="col">
            <label for="profile-state">Estado</label>
            <div class="profile-info-value" id="profile-state"></div>
          </div>
          <div class="col">
            <label for="profile-birth">Ano de nascimento</label>
            <div class="profile-info-value" id="profile-birth"></div>
          </div>
        </div>
    </div>
    <div class="container text-center procedures-section">
        <div class="row">
          <div class="col">
            <label for="profile-name">Procedimentos Realizados</label>
            <div class="profile-info-value" id="profile-name">TO DO</div>
          </div>
          <div class="col">
            <label for="profile-specialty">Cordialidade</label>
            <div class="profile-info-value" id="profile-specialty">TO DO</div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="profile-crm">Nota média pós operatório</label>
            <div class="profile-info-value" id="profile-crm">TO DO</div>
          </div>
          <div class="col">
            <label for="profile-state">Nota média pré operatório</label>
            <div class="profile-info-value" id="profile-state">TO DO</div>
          </div>
        </div>
    </div>
</div>