{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <p style="color: red">{{ message }}</p>
    <form action="/sell" method="post" >

        <select name="symbol" class="smallmargin">
            {% for s in stocks %}
            <option value={s[symbol]} type="text">{{ s.symbol }}</option>
            {% endfor %}
        </select>
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto smallmargin" name="shares" placeholder="Shares" type="text">

        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
